.page-title-content{
    margin:0 auto;
}

.departments-area .section-title {
    max-width: 750px;
    text-align: center;
    position: relative;
    margin: 0 auto;

}


.departments-area .section-title span{
    font-size: 20px;
    margin-bottom: 15px;
    color: #13316e;
    font-weight: 500;

}

