.footer-area {
    background-color: #fff;
    box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
    padding-top: 30px;
}


.single-footer-widget {
    margin-bottom: 30px;
}

.single-footer-widget a img{
    width:100px;

}

p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.8;
    margin-top:0;
}


.single-footer-widget h3 {
    position: relative;
    padding-bottom: 10px;
    font-size: 20px;
    color: #222;:
    font-weight: 700;
    line-height: 1.4;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.single-footer-widget ul li {
    margin-bottom: 10px;

}


.single-footer-widget ul li a{
    color:gray;
}


.copy-right-area p{
    text-align: center;
    padding-top:20px;
}
