.top-header{
    padding-top:15px;
    background-color: #fafafa;
    display: block;

}

header ul li{
    list-style-type: none;
    display: inline-block;

}

.vl {
    border-right: 2px solid gray;
    height: 50px;
    padding-right:10px
}


.header-left-content img{
    margin-bottom: 30px;

}

.header-left-content .working-days{
    margin-left: 20px;
}


.header-left-content .logo{
    margin-right:20px;
}

.header-left-content .logo a{
    text-decoration: none;
}



.header-left-content .logo span{
    font-size:25px;
    font-weight: bold;
    color:#00cccc;

}

