.patient_appointments{
    background-color: #fff;
    border:2px solid gray;
    padding:30px;

}

.patient_appointments h1{
    margin-bottom: 20px;
}

.patient_reports{
    background-color: #fff;
    border:2px solid gray;
    padding:30px;

}

.patient_reports h1{
    margin-bottom: 20px;
}

.report-title-content{
    margin-bottom:30px;

}

.report-title-content h2{
    font-size:27px;
}

